* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $first-color;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: $third-color;

}

section {
    padding-top: 50px;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}